body{
    margin: 0;
    scroll-behavior: smooth;
}
.container-app{
    width: 100%;
    height: 2000px;
    background: linear-gradient(45deg, #000000, #4e4e4e);

}

.app-parallax{
    width: 100%;
    height: 90%;
    position: relative;
}
.presentation-logo{
    position: absolute;
    right: 20%;
    top: 15%;
    z-index: 0;
}
.navbar-fix{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10; 
}
.app-presentation{
    position: absolute;
    top: 10%;
}
.app-team{
    z-index: 4;
}
@media (max-width: 1600px) {

}