<div class="contact-container">
    <div class="contact-title">
        <div class="white-bloc"></div>
        Contact
    </div>
    <div class="contact-row">
        <div class="contact-list">
            <div class="NAD">
                NAD
            </div>
            <div class="logo-list">
                <div>
                    <img src="./../../assets/logo/email.png" alt="email" class="contact-logo">
                </div>
                <div>
                    <img src="./../../assets/logo/facebook.png" alt="email" class="contact-logo">
                </div>
                <div>
                    <img src="./../../assets/logo/instagram.png" alt="email" class="contact-logo">
                </div>
            </div>
            <div class="3DConnect">
                3DConnect
            </div>
        </div>
    </div>
</div>
