.presentation-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1050px;
    z-index: -2;
    position: absolute;
    top: 10%;
}
.presentation-title-container{
    margin-left: 13%;
    margin-top: 10%;
    width: 70%;
}
.presentation-title{
    position: relative;
    text-decoration: none;
    font-size: 90px;
    display: inline-block;
    color: white;
    z-index: 3;

}
.presentation-title::after{
    content: "";
    position: absolute;
    bottom: -40px; /* Adjust the distance of the underline from the text */
    left: -10px;
    width: 700px; /* Make the underline span the entire width of the container */
    height: 4px; /* Adjust the thickness of the underline */
    background-color: orange; 
    z-index: 1;
}

.presentation-text{
    color: white;
    margin-top: 5%;
    width: 50%;
    height: 40%;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 2px;
}

@media (max-width: 1600px) {
    /* Adjust the logo size for smaller screens or different zoom levels */
    .presentation-text {
        font-size: 18px;
    }
}